# Supabase Configuration
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_SERVICE_KEY=
SUPABASE_BUCKET=cv-records

# AI / Google Gemini Configuration
GEMINI_API_KEY=

# Database Connection (For LangChain SQL Agent)
DATABASE_URL=

# Redis configuration for Rate Limiter and Celery Broker/Backend
REDIS_URL=redis://localhost:6379/0