{% extends "base.html" %}

{% block navbar %}
{% module Template("navbar.html", active_tab="broker") %}
{% end %}

{% block container %}
<div class="container-fluid">
  <figure class="table-responsive mt-3">
    {% set masked_url = broker_url %}
    {% if '@' in broker_url and '://' in broker_url %}
        {% set scheme, rest = broker_url.split('://', 1) %}
        {% set creds, host_part = rest.split('@', 1) %}
        {% if ':' in creds %}
            {% set username, password = creds.split(':', 1) %}
            {% set masked_url = scheme + '://' + username + ':******@' + host_part %}
        {% else %}
            {% set masked_url = scheme + '://******@' + host_part %}
        {% end %}
    {% end %}
    <table id="queue-table" class="table table-bordered table-striped caption-top">
      <caption>Địa chỉ Kênh truyền tin (Broker URL): {{ masked_url }}</caption>
      <thead>
        <tr>
          <th>Hàng đợi (Queue)</th>
          <th>Số lượng Tin nhắn (Messages)</th>
          <th>Chưa xác nhận (Unacked)</th>
          <th>Sẵn sàng (Ready)</th>
          <th>Người tiêu dùng (Consumers)</th>
          <th>Rảnh rỗi từ (Idle since)</th>
        </tr>
      </thead>
      <tbody>
        {% for queue in queues %}
        <tr id="{{ url_escape(queue['name']) }}">
          <td>{{ queue['name'] }}</td>
          <td>{{ queue.get('messages', 'N/A') }}</td>
          <td>{{ queue.get('messages_unacknowledged', 'N/A') }}</td>
          <td>{{ queue.get('messages_ready', 'N/A') }}</td>
          <td>{{ queue.get('consumers', 'N/A') }}</td>
          <td>{{ queue.get('idle_since', 'N/A') }}</td>
        </tr>
        {% end %}
      </tbody>
    </table>
  </figure>
</div>
{% end %}