{% extends "base.html" %}

{% block navbar %}
  {% module Template("navbar.html", active_tab="tasks") %}
{% end %}


{% block container %}
<input type="hidden" value="{{ time }}" id='time'>
<input type="hidden" value="{{ columns }}" id='columns'>

<div class="container-fluid mt-3">
  <table id="tasks-table" class="table table-bordered table-striped table-hover w-100">
    <thead>
    <tr>
      <th>Tên Tác vụ</th>
      <th>Mã UUID</th>
      <th class="text-center">Trạng thái</th>
      <th>Tham số (args)</th>
      <th>Tham số (kwargs)</th>
      <th>Kết quả / Lỗi</th>
      <th class="text-center">Thời điểm Nhận</th>
      <th class="text-center">Thời điểm Chạy</th>
      <th class="text-center">Thời gian chạy</th>
      <th>Worker xử lý</th>
      <th>Exchange</th>
      <th>Mã định tuyến (Routing Key)</th>
      <th class="text-center">Số lần Thử lại</th>
      <th class="text-center">Đã Hủy bỏ</th>
      <th>Ngoại lệ (Exception)</th>
      <th class="text-center">Hết hạn</th>
      <th class="text-center">Hẹn giờ (ETA)</th>
    </tr>
    </thead>
    <tbody>
    {% for uuid, task in tasks %}
        {% if getattr(task, 'name', None) is None %}
            {% continue %}
        {% end %}
    <tr>
      <td>{{ task.name }}</td>
      <td>{{ task.uuid }}</td>
      <td>{{ task.state }}</td>
      <td>{{ task.args }}</td>
      <td>{{ task.kwargs }}</td>
      <td>
        {% if task.state == "SUCCESS" %}
            {{ task.result }}
        {% elif task.state == "FAILURE" %}
            {{ task.exception }}
        {% end %}
      </td>
      <td>{{ humanize(task.received, type='time') }}</td>
      <td>{{ humanize(task.started, type='time') }}</td>
      <td>
        {% if task.timestamp and task.started %}
            {{ '%.2f' % humanize(task.timestamp - task.started) }} sec
        {% end %}
      </td>
      <td>{{ task.worker }}</td>
      <td>{{ task.exchange }}</td>
      <td>{{ task.routing_key }}</td>
      <td>{{ task.retries }}</td>
      <td>{{ humanize(task.revoked, type='time') }}</td>
      <td>{{ task.exception }}</td>
      <td>{{ task.expires }}</td>
      <td>{{ task.eta }}</td>
    </tr>
      {% end %}
    </tbody>
  </table>
</div>
{% end %}
